@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins";
}

.app {
    /* width: 1920px;
    max-width: 1920px;
    min-width: 1920px; */
    width: 100%;

    /* height: 1080px;
    max-height: 1080px;
    min-height: 1080px; */
    height: 100dvh;

    background-color: #303030;
}

.hidden-form {
    position: absolute;
    left: 0;
    top: 0;

    z-index: -1;
    opacity: 0;

    width: 200px;
    height: 50px;
}
.hidden-input {
    z-index: -1;
    opacity: 0;
    pointer-events: none;
}
